*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Open Sans, preso da da GFonts;
}

/* header */
header{
    width: 100%;
    height:60px;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    background-color:white;
    
}
/* contenuto logo e navigazione */
.container-right{
    display: flex;
    padding:10px;
}

.logo{
    height:50%;
}
.nav-right{
    display: flex;
    justify-content: center;
    padding:0 10px;
   
}
.link{
    display: flex;
}

li{
    list-style-type: none;
    font-size:15px;
    padding:0 10px;
}

/* contenuto navigazione e accesso */
.container-left{
    display: flex;
    padding:10px 15px;
    top:0;
    right:0;
}

.nav-left{
    display: flex;
    justify-content: center;
    padding:0 10px;
}

#small-button{
    background-color: #0061fe;
    color:white;
    padding:5px;

}

/* contenuto principale */

/* contenitore jumbo */
.jumbo{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #b4d0e6;
    padding:50px;
    /* DEBUG */
    /* height:400px; */
}
.container-jumbo{
    width:80%;
    padding:10px;
    position: relative;
    /* DEBUG */
    /* height:300px; */
}

h1{
    font-size:40px;
}

/* contenitore testo e immagine */
.container-text-img{
    display: flex;
    justify-content: center;
    padding:40px 0;
    /* DEBUG */
    /* background-color: yellow; */
    height:300px;
}

.text-jumbo{
    /* width:50%; */
    padding:0 20px;
}

p{
    padding:20px;
}

.big-button{
    background-color: #0061fe;
    padding:5px 15px;
    color:white;
    text-align:center;
    margin:0 20px;

   
}

#cancel{
margin:20px;
}

#fa-solid{
    margin-top: 30px;
    font-size: 35px;
    position: absolute;
    top:90%;
    left:5%;
}

#jumbo-img{
    height:300px;
}
.line{
    width: 100%;
    height:60px;
    background-color: white;
}



/* contenitore business */
.container-business{ 
    display:flex;
    justify-content: center;
    padding:40px;
    width: auto;
    /* DEBUG */
    /* background-color: aquamarine; */
    height:700px;
} 

.container-plan{
    flex-basis:60%;
    padding:10px;
    /* DEBUG */
    /* background-color: #218b21; */
    /* border:1px solid #d0cfd4; */
    
}

h2{
    padding: 20px;;
}

.checkbox{
    margin:5px;
 
} 

/* contenuti singoli piani business */
.plane{
    display: flex;
    justify-content: space-between;
    padding:30px;
}
.header-plane{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width:30%;
    /* padding:4px; */
    border:1px solid #d0cfd4;
    text-align: center;
    /* DEBUG */
    /* height:100%;
    background-color: blueviolet; */
}

hr{
    color: #d0cfd4;
}

/* main-plane */

.main-plane{
    display: flex;
    flex-direction: column;
}

.lista{
    display: flex;
    flex-direction: column;
}

/* sezionte enterprise */
.container-enterprise{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding:40px;
    /* DEBUG */
    /* background-color: #00018b; */
    height:100%;
 
}
.enterprise{
    width:60%;
    position: relative;
    /* DEBUG */
    height:100%;
    /* background-color: #ef82ed; */
    border:1px solid #d0cfd4;
}

#team{
    text-align: center;
}

h3{
    padding:10px;
}

h6{
    padding:10px;
}
#big-button-enterprise{
    position: absolute;
    top:20%;
    right:0%;
    background-color: #0061fe;
    padding:5px 15px;
    color:white;
    text-align:center;
    margin:0 20px;

}

/* sezione trova un partner */
.container-partner{
    display: flex;
    justify-content: center;
    padding:40px;
    height:400px;
    
}

#container-img{ 
    flex-basis:40%;

    /* DEBUG */
    /* background-color: #1e90ff;
    height: 100%; */
}

#container-text{
    flex-basis:20%;
    /* DEBUG */
    /* background-color: #ffc0ca; */
    /* height:100%; */
}
#img-partner{
    width:100%
}

#button-white{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    margin:0 20px;
    padding:5px;
}