*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Open Sans, preso da da GFonts;
}

/* header */
header{
    width: 100%;
    height:60px;
    position: fixed;
    position:relative;
    /* DEBUG */
    /* background-color: orange; */
    
}
/* contenuto logo e navigazione */
.container-right{
    display: flex;
    padding:10px;
}

.logo{
    width:100px;
}
.nav-right{
    display: flex;
    justify-content: center;
    padding:0 10px;
   
}
.link{
    display: flex;
}

li{
    list-style-type: none;
    font-size:15px;
    padding:0 10px;
}

/* contenuto navigazione e accesso */
.container-left{
    display: flex;
    padding:10px 15px;
    position: absolute;
    top:0;
    right:0;
}

.nav-left{
    display: flex;
    justify-content: center;
    padding:0 10px;
}

#small-button{
    background-color: #0061fe;
    color:white;
    padding:5px;

}